.care {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.care-inform__background {
    font-size: 79px;
    font-weight: bold;
    opacity: 0.18;
    position: relative;
    left: -80px;
    font-family: "Tahoma Regular";
}

.care-inform__header {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: -35px;
    top: -55px;
    font-family: 'Exo 2.0 Bold'
}

.care-inform__text {
    font-size: 24px;
    line-height: 48px;
    font-family: Arial;
}
