.development {
    background-image: url(/img/development.png);
    width: 665px;
    height: 520px;
    text-align: center;
    align-items: center;
    position: relative;
    top: -45px;
}

.development__header {
    color: white;
    padding: 136px 0;
    padding-right: 70px;
    font-size: 50px;
    font-family: 'Exo 2.0 Bold';
}