@font-face {
    font-family: 'font7ca193358a8f826917a012c7bad68b7f';
        
        src:    url('https://nomail.com.ua/files/eot/7ca193358a8f826917a012c7bad68b7f.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/7ca193358a8f826917a012c7bad68b7f.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/7ca193358a8f826917a012c7bad68b7f.woff2') format('woff2');
}

.headerpromo {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-image: url("/img/Без-имени-1.png");
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.headerpromo__bigtext {
    font-family: 'font7ca193358a8f826917a012c7bad68b7f';
    text-align: center;
    font-size: 40px;
}