.tradein__header {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Parangon';
}

.tradein {
    width: 100%;
    display: flex;
    background-image: linear-gradient(45deg, #3f4149b2,#2a2b4eb4), url("/img/tradein.png");;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 60px 0;
    background-size: cover;
    color: white;
}

.tradein-container {
    display: inline-flex;
    justify-content: center;
    align-items: top;
    text-align: left;
}

.tradein-block__text {
    font-size: 18px;
    font-family: Arial;
    line-height: 30px;
}

.tradein-block__header {
    font-size: 30px;
    font-family: 'Parangon';
    font-weight: bold;
    line-height: 72px;
}

.tradein__block {
    padding: 60px 45px;
}

.tradein__button {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #f6ae48;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.tradein-button__text {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Parangon';
}

.tradein-block__cotainer {
    display: inline-flex;
    align-items: center;
}

.tradein__logo {
    height: 100%;
    padding-right: 20px;
}

.tradein-block__cotainer_glass {
    position: relative;
    left: -30px;
}